[submodule "docs/specification"]
	path = docs/specification
	url = https://gitlab.com/seizu/tsumugi/gitlab-profile.git
[submodule "lib/tmg1-codec"]
	path = lib/tmg1-codec
	url = git@gitlab.com:seizu/tsumugi/tmg1-codec.git
